.sidebar{
  background-color: var(--background-laranja-principal);
  width: 20%;
  height: 100vh;
  float: left;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
  
  
.SulAgro{
  font-size: 36px;
  text-align: center;
  margin-bottom: 0;
}


.logo{
  max-width: 30%;
  height: auto;
}


.subTitle {
  margin: 10px 0 40px 0; 
}


.sidebarP {
  display: flex;

  margin: 0;
}


.sidebarButton, .sidebarButtonClose {
  display: flex;
  align-items: center;
  gap: 10px;
  
  font-size: 20px;
  border: none;
  background: none;
  margin: 25px; 

  transition: transform 0.3s ease;
}


.sidebarButtonClose {
  margin-top: 150px;
}


.rotacao__ButtonClose {
  transform: rotate(180deg);
}


.sidebarButton:hover, .sidebarButtonClose:hover{
  transform: translateY(-5px) scale(1.05);
}


.link__buttonSidebar {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

