#identificador, #email, #novaSenha {
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid rgba(209, 209, 209, 1);
  border-radius: 2rem;
  
  background-color: var(--tl-input-dados);
  text-align: left;
  outline: none;
  transition: 0.3s;

  margin-bottom: 0.5rem;
}



