.left {
  background-color: var(--background-branco-principal);
  width: 50%;
  height: 100vh;
  float: left;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
  

.logo__empresa{
  margin-left: 35px;

  max-width: 15%;
  height: auto;
}


.cor__1{
  font-size: 4rem;
  color: var(--laranja-nome-empresa);
}


.cor__2 {
  font-size: 4rem;
  color: var(--verde-nome-empresa);
}


.imagem__login{
  max-width: 70%;
  height: auto;
}