.div__mestre {
    width: 80%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}


.div__superior {
    margin: 0 100px 0 60px;
}


.divAdicionarPDF {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    padding: 20px;
}


.p__cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: var(--verde-nome-empresa);
    border-radius: 30px;
    width: 250px;
    height: 40px;

    font-size: 20px;
}


.p__cadastro2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: var(--laranja-nome-empresa);
    border-radius: 30px;
    width: 200px;
    height: 40px;

    margin: -10px 0 60px 0;
    font-size: 20px;
}


.button__box {
    background-color: var(--branco-para-boxs);
    border-radius: 10px;
    border: none;
    font-size: 16px; 

    width: 300px;
    height: 50px;

    cursor: pointer;
}


.div__botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.button__cadastrar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-color: var(--laranja-nome-empresa);
    border-radius: 30px;

    width: 350px;
    height: 50px;
    font-size: 22px;
    margin: 20px;

    border: none;
    cursor: pointer;
}


.DadosDoContrato {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;

    margin-top: 10px;
    font-size: 16px;
}


.inputs__DadosContrato {
    border: none;
    border-radius: 15px;
    text-align: center;

    width: 200px;
    height: 20px;
    font-size: 16px;
}


.link_cadastrarProtocolo {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--verde-nome-empresa);
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 20px;
    color: rgba(9, 1, 1, 0.85);

    width: 200px;
    height: 30px;

    margin: -10px 0 10px 0;
}