.div__inputsP {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px;
}

.inputs__boxsP {
    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 20px 20px 15px 20px;
}

.div__search {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: left;
    flex-wrap:wrap ;
    gap: 20px;
    padding: 20px;
    padding-left: 45px;
}

.button__formP {
    border: none;
    border-radius: 30px;
    font-size: 24px;
    width: 300px;
    height: 55px;
    margin-top: 30px;
    background-color: var(--verde-nome-empresa);
    cursor: pointer;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
}

.button__formP.alterar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: var(--yellow-para-botao);
}

.button__formP.deletar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    background-color: var(--red-para-botao);
}

.button__search {
    border: none;
    border-radius: 30px;
    vertical-align:top;
    font-size: 24px;
    width: 300px;
    height: 45px;
    background-color: var(--laranja-nome-empresa);
    cursor: pointer;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 

   }

.div__search #search {
    width: 600px; 
    height: 50px;
    border-radius: 30px;
    border-style:solid;
    border-color:  var(--laranja-nome-empresa);
}

.div__inputsP #nome {
    width: 400px; 
    height: 50px;
}

.div__inputsP #cpf {
    width: 300px;
    height: 50px;
}

.div__inputsP #email {
    width: 400px; 
    height: 50px;
}

.div__inputsP #celular {
    width: 350px;
    height: 50px;
}

.div__inputsP #cargo {
    width: 350px;
    height: 50px;
}

.div__inputsP #logradouro {
    width: 400px;
    height: 50px;
}

.div__inputsP #bairro {
    width: 250px;
    height: 50px;
}

.div__inputsP #cidade {
    width: 280px;
    height: 50px;
}

.div__inputsP #cep {
    width: 280px;
    height: 50px;
}

.div__inputsP #permissao {
    width: 300px;
    height: 50px;
}

.div__inputsP #horario {
    width: 350px;
    height: 50px;
}

.div__inputsP #senha {
    width: 440px;
    height: 50px;
}

/* Responsividade */
@media (max-width: 768px) {
    .div__inputsP {
        flex-direction: column;
        align-items: stretch;
    }

    #nome_completo, #email, #cpf, #celular, #cargo, #logradouro, #bairro, #cidade, #cep, #permissao, #horario, #senha {
        width: 100%; /* Ajusta todos os campos para 100% da largura da tela menor */
    }

    .button__formP {
        width: 33%; /* Botão ocupa 100% da largura em telas menores */
    }

    .button__search{
        width: 50%; /* Botão ocupa 100% da largura em telas menores */
    }
}