* {
  box-sizing: border-box; 
  font-family: 'Josefin Sans', sans-serif;
}


body {
  margin: 0;
  padding: 0;
}


:root {
  /* Telas de login e SideBar*/
  /* tl - significa tela login*/
  --laranja-nome-empresa: rgba(251, 97, 7, 0.85);
  --verde-nome-empresa: rgba(124, 181, 24, 0.85);
  --background-laranja-principal: rgba(236, 109, 49, 1);
  --background-branco-principal: white;
  --tl-input-dados: rgba(230, 230, 230, 1);
  --tl-button-verde: rgba(124, 181, 24, 0.75);


  /* DashBoard Cliente */
  --branco-para-boxs: rgba(255, 255, 255, 1);
  --background-cinza-principal: rgba(233, 233, 233, 1);



  /* Cores de texto */
  
}





